name: Doc Builder
permissions:
  contents: read
on:
  release:
    types: [published]
jobs:
  build:
    name: Doc Builder
    runs-on: ubuntu-latest
    steps:
      - name: Checkout Code
        uses: actions/checkout@v5
      - name: Set up Swift 6
        uses: swift-actions/setup-swift@v3
        with:
          swift-version: 6
      - name: Swift build
        run: swift build
      - name: Build docs
        run: swift package --allow-writing-to-directory docs generate-documentation --target AppStoreServerLibrary --product AppStoreServerLibrary --disable-indexing --hosting-base-path app-store-server-library-swift --output-path docs
      - name: Upload docs
        uses: actions/upload-pages-artifact@v4
        with:
          path: docs
  deploy:
    permissions:
      pages: write
      id-token: write
    environment:
      name: github-pages
      url: ${{ steps.deployment.outputs.page_url }}
    needs: build
    runs-on: ubuntu-latest
    name: Deploy docs
    steps:
      - name: Deploy
        id: deployment
        uses: actions/deploy-pages@v4
